*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : 'Poppins', sans-serif;
}

.container{
    width: 100%;
    background :linear-gradient(135deg, #153677, #4e085f);
    padding : 10px;
    border-radius : 10px;
    box-shadow : 0 5px 10px rgba(0,0,0,0.1);
    text-align : center;
    color : #fff;
    min-height: 100vh;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    margin : 100px auto 20px;
    background: #fff;
    padding: 40px 30px 70px;
    border-radius : 10px;
    box-shadow : 0 5px 15px rgba(0,0,0,0.1);
}
.todo-app h2{
    font-size : 30px;
    font-weight : 600;
    color : #002765;
    display: flex;
    align-items: center;
    margin-bottom : 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left : 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom : 20px;
    background: #edeef0;
    border-radius:30px;
    padding-left : 10px 20px;
}
input{
    flex:1;
    border:none;
    outline: none ;
    background: transparent;
    padding:10px;
    font-weight:14px;
    color : #333;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #153677;
    color : #fff;
    font-size : 16px;
    font-weight : 500;
    border-radius : 40px;
    cursor : pointer;
}

ul li {
    list-style : none;
    font-size: 17px;
    color: #002765;
    padding : 16px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    text-align: left;
}
ul li::before{
    content:'';
    position:absolute;
    height: 28px;
    width: 28px;
    border-radius : 50%;
    background-image:url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    
}
ul li.checked{
    text-decoration : line-through ;
    color : #999;
}
ul li.checked::before{
    background-image:url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width:40px;
    height: 40px;
    font-size: 22px;
    color : #555;
    line-height: 40px;
    text-align : center;
    border-radius: 50%;
    cursor: pointer;
}
ul li span:hover{
    background: #e74c3c;
}